<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Styles/index.css">
  <link rel="stylesheet" href="../Styles/normalize.css">
  <link rel="icon" href="../Assets/LOGOAV.svg">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');
  </style>
  <script src="../Functions/index.js"></script>
  <title>My space</title>
</head>

<body>
  <!-- Shape for background -->
  <!-- <div class="vectorBG">
      <img src="../Assets/blob.svg" alt="">
    </div>
    <div class="vectorbg">
      <img src="../Assets/blob 2.svg" alt="">
    </div> -->
  <!-- Header of page -->
  <header>
    <div class="navbar">
      <div class="logo">
        <a href="../Views/index.html">
          <img src="../Assets/LOGOAV.svg" alt="Logo Angel velasco enterprise">
        </a>
      </div>
      <div class="navLinks">
        <a href="#">ABOUT ME</a>
        <a href="#">SKILLS</a>
        <a href="#">EDUCATION</a>
        <a href="#">PROJECTS</a>
      </div>
    </div>
  </header>
  <!-- Presentation card -->
  <div class="parent">
    <div class="title">
      <div class="mainTitle">
        ANGEL <br>
        GABRIEL <br>
        HERNANDEZ <br>
        VELASCO.
      </div>
      <div class="mainTitleGlass">
        ANGEL <br>
        GABRIEL <br>
        HERNANDEZ <br>
        VELASCO.
      </div>
    </div>
    <div class="subtitle">
      <div class="subTitle">
        WEB DEVELOPER.
      </div>
      <div class="subTitleGlass">
        WEB DEVELOPER.
      </div>
    </div>
    <div class="description">
      <div class="desc">
        <p>Initial level experience in web design and development <br> knowledge, production quality work.</p>
      </div>
    </div>
  </div>
  <!-- Space for arrows -->
  <!-- About me section -->
  <div class="intome">
    <div class="aboutme">
      <h1>ABOUT ME.</h1>
      <p>Initial web developer in the work space with the purpose of contributing <br> to large projects locally and
        globally.</p>
    </div>
    <div class="genInfo">
      <div class="info">
        <h1>5+</h1>
        <p>Years experience.</p>
      </div>
      <div class="info">
        <h1>8+</h1>
        <p>Projects completes.</p>
      </div>
      <div class="info">
        <h1>3+</h1>
        <p>Companies worked.</p>
      </div>
    </div>
  </div>
  <!-- Skills -->
  <div class="skills">
    <div class="card">
      <div class="circle"></div>
      <div class="content">
        <h2>FrontEnd Skills.</h2>
        <h3>More than 4 years.</h3>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
        <p>React</p>
        <a href="#">View in CV</a>
      </div>
      <img src="../Assets/svg3.svg" alt="">
    </div>
    <div class="card">
      <div class="circle"></div>
      <div class="content">
        <h2>BackEnd Skills.</h2>
        <h3>More than 2 years.</h3>
        <p>MySQL</p>
        <p>Python</p>
        <p>Node</p>
        <a href="#">View in CV</a>
      </div>
      <img src="../Assets/svg1.svg" alt="">
    </div>
    <div class="card">
      <div class="circle"></div>
      <div class="content">
        <h2>Design Skills.</h2>
        <h3>More than 4 years.</h3>
        <p>Figma</p>
        <p>Photoshop</p>
        <p>Illustrator</p>
        <p>Spline</p>
        <a href="#">View in CV</a>
      </div>
      <img src="../Assets/svg2.svg" alt="">
    </div>
  </div>
</body>
</html>