<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Styles/index(disapoinment).css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap');
  </style>
  <title>ME</title>
</head>

<body>
  <!-- <div class="vectorBG">
    <img src="../Assets/blob.svg" alt="">
  </div>
  <div class="vectorbg">
    <img src="../Assets/blob 2.svg" alt="">
  </div> -->
  <div class="navbar">
    <div class="logo">
      <a href="../Views/index.html">
        <img src="../Assets/LOGOAV.svg" alt="Logo">
      </a>
    </div>
    <div class="linksNav">
      <a href="#">ABOUT ME</a>
      <a href="#">SKILLS</a>
      <a href="#">EDUCATION</a>
      <a href="#">PROJECTS</a>
    </div>
  </div>
<!-- Presentation card  -->
  <div class="parent">
    <div class="textProfile">
      <div class="mainTitle">
        ANGEL <br>
        GABRIEL <br>
        HERNANDEZ <br>
        VELASCO.
      </div>
      <div class="mainTitleGlass">
        ANGEL <br>
        GABRIEL <br>
        HERNANDEZ <br>
        VELASCO.
      </div>
    </div>
    <div class="subtitle">
      <span>Web Developer</span>
    </div>
    <div class="subtitleGlass">
      <span>Web Developer</span>
    </div>
    <div class="desc">
      <p>Initial level experience in web design and development knowledge, production quality work.</p>
    </div>
  </div>
</body>

</html>